.link {
  --textColor: var(--c-main-text);

  --width: 100%;
  --top: 100%;
  --marginT: 2px;
  --whiteSpace: nowrap;
  --height: var(--decoration-height);

  --weight: var(--f-weight-semiBold);
  --textSize: var(--f-size-14);

  text-decoration: none;
  color: var(--textColor);

  &__label {
    position: relative;

    text-transform: uppercase;
    font-size: var(--textSize);
    font-weight: var(--weight);

    white-space: var(--whiteSpace);

      &:after {
        content: " ";
        display: block;
        width: var(--width);
        height: var(--height);
        margin-top: var(--marginT);

        position: absolute;
        top: var(--top);

        background: currentColor;

        transform: scaleX(0);
        transform-origin: left center;
        transition: transform .4s cubic-bezier(.23,1,.32,1),transform-origin 0s .4s;
      }

      &:hover{
        &:after {
        transform: scaleX(1);
        transform-origin: right center;
      }
    }
  }
}
