@import "styles/mixins.scss";

.form {
  padding: 40px 0;

  &__wrapper {
    @include flex($justify-content: space-between);
    padding: 0 0 20px 0;
  }

  &__btn_search {
    margin-right: 14px;
  }

  &__line {
    height: 3px;
    border-radius: 50%;
    background: var(--c-black);
  }
}