@import "styles/mixins.scss";

.form {
  --height: 3px;

  --marginR: 14px;
  --padding: 40px 0;
  --wrapperPD: 0 0 20px 0;

  --borderRadius: 50%;

  padding: var(--padding);

  &__wrapper {
    padding: var(--wrapperPD);
    @include flex($justify-content: space-between);
  }

  &__btn_search {
    margin-right: var(--marginR);
  }

  &__line {
    height: var(--height);
    background: var(--c-black);
    border-radius: var(--borderRadius);
  }
}