@import "styles/mixins.scss";

.button {
  --width: 100%;
  --paddingX: 16px;
  --bgColor: var(--c-black);
  --textColor: var(--c-white);
  --borderRadius: var(--border-radius);

  --iconOffsetX: 8px;

  transition: none;

  @include reset-button;
  @include flex(inline-flex);

  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  will-change: transform;

  width: var(--width);
  color: var(--textColor);
  background-color: var(--bgColor);
  border-radius: var(--borderRadius);

  &--only-icon {
    --width: auto;
    --paddingX: 0;
  }

  &--transparent {
    --bgColor: transparent;
    --textColor: var(--c-black);
  }

  &__label {
    color: var(--textColor);
  }

  &__body {
    position: relative;
    column-gap: var(--iconOffsetX);

    @include square;
    @include flex($justify-content: var(--justify));
  }
}