.popup {
  --padding: 4px 14px;
  --textAlign: center;
  --bottom: 0;
  --borderTLR: 10px;
  --borderTRR: 10px;

  z-index: 1000;
  position: fixed;
  bottom: var(--bottom);

  width: fit-content;
  padding: var(--padding);

  text-align: var(--textAlign);

  pointer-events: none;

  border-top-left-radius: var(--borderTLR);
  border-top-right-radius: var(--borderTRR);

  &_top {
    --top: 0;
    --borderBLR: 20px;
    --borderBRR: 20px;


    top: var(--top);

    border-bottom-left-radius: var(--borderBLR);
    border-bottom-right-radius: var(--borderBRR);
  }
}
