.input {
  --inputWidth: var(--width);
  --wrapperWidth: 100%;
  --fontSize: var(--f-size);
  --bgColor: transperent;
  --placeholderOpacity: 0.3;

  --hoverPlaceholderOpacity: 1;

  width: var(--inputWidth);
  background: var(--bgColor);
  font-size: var(--fontSize);

  &::placeholder {
    color: currentColor;
    opacity: var(--placeholderOpacity);
  }

  &:hover {
    &::placeholder {
      opacity: var(--hoverPlaceholderOpacity);
    }
  }

  &-helper {
    --fontWeight: var(--f-weight-regular);
    --fontSize: var(--f-size);

    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
  }
}
