@import "styles/media.scss";
@import "styles/mixins.scss";

.artwork {
  --gap: 10px;
  --opacity: .8;
  --marginB: 4px;
  --paddingB: 80px;
  --textAlign: end;
  --fontWeight: var(--f-weight-semiBold);
  --transition: var(--aditional-transition-duration);

  --fontSizeTitle: var(--f-size-30);


  --containerMB: 60px;
  --containerHeight: 85vh;
  --containerGridC: 1/span 14;

  --othersGridR: 2;
  --othersGridC: 1/span 8;

  --descGridR: 2;
  --descJS: flex-end;
  --descPadding: 20px;
  --descGridC: 9/span 6;
  --descC: var(--c-white);
  --descBg: var(--c-dune);

  --imgPEvents: none;
  --imgObjFit: contain;

  --valueFWeight: normal;

  --ageMB: 20px;

  --authorMB: 60px;

  --toolRight: 0;
  --toolBottom: 10vh;

  --conatinerAfterTop: -400px;

  padding-bottom: var(--paddingB);


  // Медиа
  --ageFZ: var(--f-size-10);
  --titleFZ: var(--f-size-20);
  --authorFZ: var(--f-size-12);
  --techSizeFZ: var(--f-size-14);

  &__tool {
    z-index: 4;
    position: absolute;
    right: var(--toolRight);
    bottom: var(--toolBottom);

    transition: var(--transition);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image-conatiner {
    @include flex;
    position: relative;

    height: var(--containerHeight);
    grid-column: var(--containerGridC);

    margin-bottom: var(--containerMB);

    &::after {
      content: "";

      z-index: -1;
      position: absolute;
      top: var(--conatinerAfterTop);

      box-shadow: 0 0 120px 760px white;
    }
  }

  &__carousel {
    grid-row: var(--othersGridR);
    grid-column: var(--othersGridC);
  }

  &__description {
    color: var(--descC);
    background-color: var(--descBg);
    box-shadow: 0 0 10px 1px black;

    grid-row: var(--descGridR);
    padding: var(--descPadding);
    grid-column: var(--descGridC);

    justify-self: var(--descJS);
  }

  &__popup {
    justify-self: center;
  }

  &__value {
    font-weight: var(--valueFWeight);
  }

  &__image {
    object-fit: var(--imgObjFit);
    pointer-events: var(--imgPEvents);
  }

  &__age {
    margin-bottom: var(--ageMB);
  }

  &__author {
    opacity: var(--opacity);
    margin-bottom: var(--authorMB);
  }

  &__title {
    font-size: var(--fontSizeTitle);
  }

  &__age, &__author, &__author-age {
    text-align: var(--textAlign);
  }

  &__technique, &__size{
    gap: var(--gap);

    margin-bottom: var(--marginB);
    font-weight: var(--fontWeight);

    @include flex($justify-content: space-between);
  }
}

// Медиа
@media screen and ($tablet) {
  .artwork {
    &__age {
      font-size: var(--ageFZ);
    }

    &__title {
      font-size: var(--titleFZ);
    }

    &__author {
      font-size: var(--authorFZ);
    }

    &__technique, &__size {
      font-size: var(--techSizeFZ);
    }
  }
}

@media screen and ($tablet-s) {
  .artwork {
    --descMB: 40px;
    --carouselGridRow: 3;
    --gridColumn: 1/span 14;
    --ageFZ: var(--f-size-14);
    --titleFZ: var(--f-size-24);
    --authorFZ: var(--f-size-16);
    --techSizeFZ: var(--f-size-18);


    &__age {
      font-size: var(--ageFZ);
    }

    &__title {
      font-size: var(--titleFZ);
    }

    &__author {
      font-size: var(--authorFZ);
    }

    &__technique, &__size {
      font-size: var(--techSizeFZ);
    }

    &__description {
      justify-self: auto;
      margin-bottom: var(--descMB);
      grid-column: var(--gridColumn);
    }

    &__carousel {
      grid-column: var(--gridColumn);
      grid-row: var(--carouselGridRow);
    }
  }
}

@media screen and ($mobile-xxs) {
  .artwork {
    &__age {
      font-size: var(--ageFZ);
    }

    &__title {
      font-size: var(--titleFZ);
    }

    &__author {
      font-size: var(--authorFZ);
    }

    &__technique, &__size {
      font-size: var(--techSizeFZ);
    }
  }
}