@import "styles/mixins.scss";

.artwork {
  --gap: 10px;
  --opacity: .8;
  --marginB: 4px;
  --paddingB: 80px;
  --textAlign: end;
  --fontWeight: var(--f-weight-semiBold);
  --transition: var(--aditional-transition-duration);

  --fontSizeTitle: var(--f-size-30);

  // --toolTop: 600px;
  // --toolRight: 60px;

  --containerMB: 60px;
  --containerHeight: 85vh;
  --containerGridC: 1/span 14;

  --othersGridR: 2;
  --othersGridC: 1/span 8;

  --descC: var(--c-white);
  --descJS: flex-end;
  --descBg: var(--c-dune);
  --descGridR: 2;
  --descGridC: 9/span 6;
  --descPadding: 20px;

  --imgObjFit: contain;
  --imgPEvents: none;

  --valueFWeight: normal;

  --ageMB: 20px;

  --authorMB: 60px;


  padding-bottom: var(--paddingB);

  &__tool {
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 10vh;

    transition: var(--transition);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image-conatiner {
    --conatinerAfterTop: -400px;

    // padding-top: 100px;
    position: relative;

    grid-column: var(--containerGridC);
    height: var(--containerHeight);

    margin-bottom: var(--containerMB);
    @include flex;

    &::after {
      content: "";

      z-index: -1;
      position: absolute;
      top: var(--conatinerAfterTop);

      box-shadow: 0 0 120px 760px white;
    }
  }

  &__carousel {
    grid-column: var(--othersGridC);
    grid-row: var(--othersGridR);
  }

  &__description {
    box-shadow: 0 0 10px 1px black;
    color: var(--descC);
    background-color: var(--descBg);

    padding: var(--descPadding);
    grid-row: var(--descGridR);
    grid-column: var(--descGridC);

    justify-self: var(--descJS);
  }

  &__popup {
    justify-self: center;
  }

  &__image {
    object-fit: var(--imgObjFit);
    pointer-events: var(--imgPEvents);
  }

  &__value {
    font-weight: var(--valueFWeight);
  }

  &__technique, &__size{
    @include flex($justify-content: space-between);

    gap: var(--gap);

    font-weight: var(--fontWeight);
    margin-bottom: var(--marginB);
  }

  &__title {
    font-size: var(--fontSizeTitle);
  }

  &__age {
    margin-bottom: var(--ageMB);
  }

  &__author {
    margin-bottom: var(--authorMB);
    opacity: var(--opacity);
  }

  &__age, &__author, &__author-age {
    text-align: var(--textAlign);
  }
}

@media screen and (max-width: 980px) {
  .artwork {
    &__image-conatiner {
      // padding-top: 0;
    }
    &__title {
      font-size: 20px;
    }
    &__age {
      font-size: 10px;
    }
    &__author {
      font-size: 12px;
    }
    &__technique, &__size {
      font-size: 14px;
    }
  }
}


@media screen and (max-width: 860px) {
  .artwork {
    &__carousel {
      grid-column: 1/span 14;
      grid-row: 3;
    }
    &__description {
      grid-column: 1/span 14;
      justify-self: auto;
      margin-bottom: 40px;
    }
    &__title {
      font-size: 24px;
    }
    &__age {
      font-size: 14px;
    }
    &__author {
      font-size: 16px;
    }
    &__technique, &__size {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 640px) {
  .artwork {
    &__title {
      font-size: 20px;
    }
    &__age {
      font-size: 10px;
    }
    &__author {
      font-size: 12px;
    }
    &__technique, &__size {
      font-size: 14px;
    }
  }
}