@import "styles/vars.scss";
@import "styles/mixins.scss";
@import "styles/index.scss";

* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  width: 100vw;

  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

  min-height: 100vh;
  height: 100% !important;

  font-family: "Montserrat";
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);

  margin-right: calc(-1*(100vw - 100%));
}

body {
  min-height: inherit;
  min-width: var(--site-min-width);

  scroll-behavior: smooth;

  font: inherit;
  font-size: var(--base-font-size);

  color: var(--c-black);
  background: var(--c-gray);

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--c-gray);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--c-dune);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

#root {
  height: inherit;
  min-height: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

.bgHome {
  background: var(--c-yellow);
}

.bgCollection {
  background: var(--c-gray);
}

.bgArtwork {
  background: var(--c-armadillo);
}

a,
svg,
svg *,
label,
input,
button,
textarea,
::after,
::before,
::placeholder {
  transition: var(--base-transition-duration);
}

button,
input {
    font-family: inherit;
}