@import "styles/var.scss";
@import "styles/mixins.scss";
@import "styles/index.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  scroll-behavior: smooth;

  min-height: 100vh;
  height: 100% !important;

  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: 'Montserrat';

  margin-right: calc(-1*(100vw - 100%));

  width: 100vw;
}

body {
  min-width: var(--site-min-width);
  min-height: inherit;

  scroll-behavior: smooth;

  font: inherit;
  font-size: var(--base-font-size);

  color: var(--c-black);
  background: var(--c-gray);
}

#root {
  height: inherit;
  min-height: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

.bgHome {
  background: var(--c-yellow);
}

.bgCollection {
  background: var(--c-gray);
}

.bgArtwork {
  background: var(--c-armadillo);
}

svg,
svg *,
a,
button,
input,
textarea,
label,
::before,
::after,
::placeholder {
  transition: var(--base-transition-duration);
}

button,
input {
    font-family: inherit;
}


@media (max-width: 980px) {
  body {
    // overflow-y: auto;
    // overflow-x: hidden;
  }
}