@mixin flex-gap($gap) {
  gap: $gap;
  display: flex;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

@mixin reset-button {
  margin: 0;
  padding: 0;

  text-align: left;

  border: 0;
  box-shadow: none;
  background-color: transparent;

  appearance: none;
}

@mixin square($size: 100%) {
  width: $size;
  height: $size;
}

@mixin flex($display: flex, $justify-content: center) {
  display: $display;
  align-items: center;
  justify-content: $justify-content;
}