:root {
  // Block model
  --site-min-width: 360px;


  // Decoration
  --c-yellow: #FFCE01;
  --c-black: #000;
  --c-white: #FFF;

  --border-radius-2: 50%;

  --decoration-height: 2px;


  // Animation
  --base-transition-duration: .4s;


  // Typographic
  --base-font-size: 16px;
  --base-line-height: 1.5;
  --base-font-weight: 300;

  --f-size-14: 14px;
  --f-size-20: 20px;
  --f-size-24: 24px;
  --f-size-60: 60px;

  --f-weight-regular: 400;
  --f-weight-medium: 500;
  --f-weight-semiBold: 600;

}