:root {
  // Block model
  --site-min-width: 360px;

  // Colors
  --c-background: #FFCE01;
  --c-main-text: #000;

  // Animation
  --base-transition-duration: .4s;

  // Typographic
  --base-font-size: 16px;
  --base-line-height: 1.5;
  --base-font-weight: 300;

  --f-size-14: 14px;

  --f-weight-semiBold: 600;


  // Decoration
  --decoration-height: 2px;

}