.collection {
  --paddingTCollection: 100px;
  // --marginB: 40px;
  --marginBTitle: 60px;

  --fontSize: var(--f-size-80);
  --fontWeight: var(--f-weight-medium);
  --fontSizeName: var(--f-size-30);

  --bgColor: var(--c-gray);

  --top: 0;
  --zIndex: 2;

  --resultFS: var(--f-size-24);


  padding-top: var(--paddingTCollection);

  &__title {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);

    margin-bottom: var(--marginBTitle);
  }

  &__name {
    font-size: var(--fontSizeName);
  }

  &__year {
    font-style: italic;
  }

  &__result {
    font-size: var(--resultFS);
    margin-bottom: var(--marginB);
  }

  &__filter {
    // margin-bottom: var(--marginB);

    background: var(--bgColor);

    position: sticky;
    top: var(--top);
    z-index: var(--zIndex);
  }

}

@media screen and (max-width: 760px) {
  .collection {
    padding-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .collection {
    &__title {
      font-size: 60px;
    }

    &__name {
      font-size: 24px;
    }

    &__year {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 540px) {
  .collection {
    &__title {
      font-size: 40px;
    }
  }
}