.collection {
  --paddingTCollection: 100px;
  --marginB: 40px;
  --marginBTitle: 60px;
  --transition: var(--aditional-transition-duration);

  --fontSize: var(--f-size-80);
  --fontWeight: var(--f-weight-medium);
  --fontSizeName: var(--f-size-30);

  --bgColor: var(--c-gray);

  --top: 0;
  --zIndex: 2;

  --btnBottom: 40px;
  --btnRight: 10px;

  --resultFS: var(--f-size-24);


  padding-top: var(--paddingTCollection);

  &__title {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);

    margin-bottom: var(--marginBTitle);
  }

  &__name {
    font-size: var(--fontSizeName);
  }

  &__year {
    font-style: italic;
  }

  &__result {
    font-size: var(--resultFS);
    margin-bottom: var(--marginB);
  }

  &__filter {
    margin-bottom: var(--marginB);

    background: var(--bgColor);

    position: sticky;
    top: var(--top);
    z-index: var(--zIndex);
  }

  &__btn--up {
    position: fixed;
    bottom: var(--btnBottom);
    right: var(--btnRight);

    transition: var(--transition);

    &:hover {
      transform: translateY(-10px);
    }
  }
}
