.layout {
  &__btn {
    --btnRight: 22px;
    --btnBottom: 80px;
    --borderRadius: 50%;
    --transform: translateY(-10px);
    --transition: var(--aditional-transition-duration);

    z-index: 1000;
    position: fixed;
    bottom: var(--btnBottom);
    right: var(--btnRight);

    transition: var(--transition);

    background: var(--c-gray);
    border-radius: var(--borderRadius);

    &:hover {
      transform: var(--transform);
    }
  }

  &__notification {
    --fontSize: var(--f-size-18);
    --fontWeight: var(--f-weight-semiBold);

    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
  }
}