.layout {
  &__btn {
    --btnBottom: 80px;
    --btnRight: 22px;
    --transition: var(--aditional-transition-duration);
    --transform: translateY(-10px);

    position: fixed;
    z-index: 1000;
    // overflow: overlay;
    bottom: var(--btnBottom);
    right: var(--btnRight);

    transition: var(--transition);

    background: var(--c-gray);
    border-radius: 50%;

    &:hover {
      transform: var(--transform);
    }
  }
}