@import "styles/media.scss";
@import "styles/mixins.scss";

.filter{
  --paddingY: 24px 0;
  --margin: 0 0 40px 0;
  --alignItems: center;

  --grColField: 1/span 7;
  --grColDisplay: 9/span 8;
  --grColExpand: 22/span 3;

  --brColor: var(--c-black);

  --fontSizeBtn: var(--f-size-16);
  --fontWeightBtn: var(--f-weight-medium);

  --gap: 10px;
  --rowGap: 20px;
  --gridTemplateColumns: repeat(24, 1fr);


  display: grid;
  grid-template-columns: var(--gridTemplateColumns);

  margin: var(--margin);
  padding: var(--paddingY);

  border-bottom: 3px solid var(--brColor);


  &__field {
    grid-column: var(--grColField);
  }

  &__btn_total {
    --btnTotalRight: 0;
    --btnTotalBottom: 0;
    --btnTotalPadding: 10px 20px;
    --btnTotalBgColor: var(--c-black);

    right: var(--btnTotalRight);
    bottom: var(--btnTotalBottom);

    padding: var(--btnTotalPadding);
    background-color: var(--btnTotalBgColor);
  }

  &__label, &__label_total {
    --fontColorTotalBtn: var(--c-white);
    --fontSizeTotalBtn: var(--f-size-30);

    color: var(--fontColorTotalBtn);
    font-size: var(--fontSizeTotalBtn);
  }

  &__label {
    --labelFW: var(--f-weight-extraLight);

    font-weight: var(--labelFW);
  }

  &__label_total {
    --labelTotalFW: var(--f-weight-semiBold);

    transition: ease-in-out .2s;
    font-weight: var(--f-weight-semiBold);
  }

  &__btn_total:hover .filter__label_total {
    --transformX: translateX(8px);

    display: inline-block;
    transform: var(--transformX);
  }

  &__form {
    @include flex($justify-content: space-between);
  }

  &__display {
    display: grid;
    gap: var(--gap);
    align-items: var(--alignItems);
    grid-column: var(--grColDisplay);
    grid-template-columns: repeat(3, 1fr);
  }

  &__expand {
    justify-self: flex-end;
    grid-column: var(--grColExpand);
  }

  &__btn {
    font-size: var(--fontSizeBtn);
    font-weight: var(--fontWeightBtn);
  }

  &__btn-increase, &__btn-decrease {
    justify-self: center;
  }
}


.expand-container {
  --rowGap: 20px;
  --expandMB: 40px;

  row-gap: var(--rowGap);
  margin-bottom: var(--expandMB);
}


// Медиа
@media screen and ($mobile) {
  .filter {
    row-gap: var(--rowGap);

    --fieldGC: 1/span 25;
    --displayGC: 1/span 14;
    --expandGC: 15/span 10;

    &__field {
      grid-column: var(--fieldGC);
    }

    &__expand {
      grid-column: var(--expandGC);
    }

    &__display {
      grid-column: var(--displayGC);
    }
  }
}

@media screen and ($mobile-xs) {
  .filter {
    --displayGC: 1/span 24;

    &__display {
      grid-column: var(--displayGC);
    }
  }
}