@import "styles/mixins.scss";

.filter{
  --brColor: var(--c-black);
  --fontSizeBtn: var(--f-size-16);
  --fontWeightBtn: var(--f-weight-medium);

  --gridTemplateColumns: repeat(24, 1fr);

  --grColField: 1/span 7;
  --grColDisplay: 9/span 7;
  --grColExpand: 18/span 7;

  --gapDisplay: 25px;

  --paddingY: 24px 0;


  display: grid;
  grid-template-columns: var(--gridTemplateColumns);

  padding: var(--paddingY);
  margin-bottom: 40px;

  border-bottom: 3px solid var(--brColor);

  &__label, &__label--total {
    --fontSizeTotalBtn: var(--f-size-30);
    --fontColorTotalBtn: var(--c-white);

    color: var(--fontColorTotalBtn);
    font-size: var(--fontSizeTotalBtn);
    font-weight: 200;
  }

  &__label--total {
    font-weight: 500;
    transition: ease-in-out .2s;
  }

  &__btn--total {
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: black;
  }

  &__btn--total:hover .filter__label--total {
    display: inline-block;
    transform: translateX(8px);
  }

  &__form {
    @include flex($justify-content: space-between);
  }

  &__field {
    grid-column: var(--grColField);
  }

  &__display {
    display: flex;
    grid-column: var(--grColDisplay);
    justify-self: center;
    align-items: center;
    gap: var(--gapDisplay);
  }

  &__expand {
    grid-column: var(--grColExpand);
    justify-self: flex-end;
  }

  &__btn {
    font-size: var(--fontSizeBtn);
    font-weight: var(--fontWeightBtn);
  }
}

.expand-container {
  margin-bottom: 40px;
}