.container {
  --width: 100%;
  --maxWidth: 1440px;
  --margin: 0 auto;
  --padding: 0 84px;

  --tabletPadding: 0 24px;


  position: relative;
  width: var(--width);
  max-width: var(--maxWidth);
  margin: var(--margin);
  padding: var(--padding);
}

@media screen and (max-width: 760px) {
  .container {
    padding: var(--tabletPadding);
  }
}
