.home-card {
  --height: 600px;
  --width: 340px;
  --borderR: 14px;

  --imgHeight: 100%;

  cursor: pointer;
  position: relative;

  width: var(--width);
  height: var(--height);

  box-shadow: 0 1px 8px 1px black;
  border-radius: var(--borderR);


  &__helper {
    position: relative;
    height: var(--imgHeight);
    border-radius: var(--borderR);

    overflow: hidden;
    pointer-events: none;
  }

  &__image {
    object-fit: cover;
    border-radius: 14px;
    object-position: center 80%;
    pointer-events: none;
  }
}


@media screen and (max-width: 980px) {
  .home-card {
    width: 100%;
    // background-color: var(--c-armadillo);
  }
}

@media screen and (max-width: 640px) {
  .home-card {
    width: 100%;
    height: 400px;
  }
}