.home-card {

  cursor: pointer;
  height: 600px;
  width: 340px;
  border-radius: 14px;
  box-shadow: 0 1px 8px 1px black;
  position: relative;


  &__image {
    position: relative;
    border-radius: 14px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}