@import "styles/mixins.scss";

.home {
  // --width: fit-content;
  // --align: center;
  // --height: calc(100vh - 5.5rem);
  // width: 100%;


  --lineHeight: 1;
  --fontSizeT: var(--f-size-60);
  --fontSizeP: var(--f-size-20);
  --fontWeight: var(--f-weight-medium);
  --fontWeightB: var(--f-weight-medium);

  --transformX: translateX(4px);

  --infoWidth: 44vw;
  --infoPT: 80px;
  --infoGap: 40px;
  --infoFlexD: column;

  --pbarLeft: 0;
  --pbarRight: 0;
  --pbarBottom: 0;
  --pbarHeight: 10px;
  --pbarTrOrigin: 0%;
  --pbarBgColor: var(--c-dune);

  --cardGap: 60px;
  --cardPR: 220px;


  // width: var(--width);
  // height: var(--height);
  // align-items: var(--align);
  // align-content: var(--align);

  // padding-top: 145px;


  &__info {
    display: flex;
    flex-direction: var(--infoFlexD);
    gap: var(--infoGap);

    width: var(--infoWidth);
    padding-top: var(--infoPT);
  }

  &__title {
    font-size: var(--fontSizeT);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
  }

  &__paragraph {
    font-size: var(--fontSizeP);
  }

  &__button {
    font-weight: var(--fontWeightB);

    :hover > .home__icon {
      transform: var(--transformX);
    }
  }

  &__progress-bar {
    position: fixed;
    left: var(--pbarLeft);
    right: var(--pbarRight);
    height: var(--pbarHeight);
    bottom: var(--pbarBottom);

    background: var(--c-dune);

    transform-origin: var(--pbarTrOrigin);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--cardGap);
    // padding-right: var(--cardPR);
    padding: 0 40px 0 0;
  }
}


@media screen and (max-width: 980px) {
  .home {
    grid-template-columns: 1fr;
    &__cards {
      grid-template-columns: 1fr;
      // justify-self: center;
      // padding: 0 0 60px 0;
      padding: 0 14px 40px 14px;
    }

    &__info {
      width: 100%;
      margin-bottom: 40px;
      padding: 0;
      // padding-top: 200px;
    }
  }
}

@media screen and (max-width: 880px) {
  // .home {
  //   // &__cards {
  //   //   // justify-content: center;
  //   // }
  // }
}

@media screen and (max-width: 760px) {
  .home {
    &__title {
      font-size: 44px;
    }
    &__paragraph {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 640px) {
  .home {
    &__info {
      width: 100%;
    }
    &__title {
      font-size: 32px;
    }
    &__paragraph {
      font-size: 10px;
    }
    &__button {
      font-size: 12px;
    }
    &__title, &__paragraph {
      text-align: center;
    }
    // &__cards {
    //   // grid-template-columns: 1fr;
    //   // width: 90%;
    //   // justify-content: center;
    // }
  }
}