@import "styles/mixins.scss";
@import "styles/media.scss";

.home {
  --align: center;

  --width: 100%;

  --lineHeight: 1;
  --fontSizeT: var(--f-size-60);
  --fontSizeP: var(--f-size-20);
  --fontWeight: var(--f-weight-medium);
  --fontWeightB: var(--f-weight-medium);

  --transformX: translateX(4px);

  --infoPT: 40px 0 0 0;
  --infoGap: 40px;
  --infoWidth: 44vw;
  --infoFlexD: column;

  --cardsGap: 60px;
  --cardsPR: 220px;
  --cardsPd: 0 40px 0 0;


  width: var(--width);
  align-items: var(--align);
  align-content: var(--align);


  &__info {
    display: flex;
    gap: var(--infoGap);
    flex-direction: var(--infoFlexD);

    width: var(--infoWidth);
    padding: var(--infoPT);
  }

  &__paragraph {
    font-size: var(--fontSizeP);
  }

  &__title {
    font-size: var(--fontSizeT);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
  }

  &__button {
    font-weight: var(--fontWeightB);

    :hover > .home__icon {
      transform: var(--transformX);
    }
  }

  &__cards {
    display: grid;
    gap: var(--cardsGap);

    padding: var(--cardsPd);
    padding-right: var(--cardsPR);

    grid-template-columns: repeat(4, 1fr);
  }
}


// Медиа
@media screen and ($tablet) {
  .home {
    --padding: 0;
    --width: 100%;
    --margin: 0 0 40px 0;

    --gridTempColumns: 1fr;

    grid-template-columns: var(--gridTempColumns);

    &__cards {
      padding: var(--padding);
      grid-template-columns: var(--gridTempColumns);
    }

    &__info {
      width: var(--width);
      margin: var(--margin);
      padding: var(--padding);
    }
  }
}

@media screen and ($mobile) {
  .home {
    --titleFZ: var(--f-size-44);
    --paragraphFZ: var(--f-size-14);

    &__title {
      font-size: var(--titleFZ);
    }

    &__paragraph {
      font-size: var(--paragraphFZ);
    }
  }
}

@media screen and ($mobile-s) {
  .home {
    --width: 100%;

    --titleFZ: var(--f-size-32);
    --buttonFZ: var(--f-size-12);
    --paragraphFZ: var(--f-size-10);

    --textAlign: center;

    &__info {
      width: var(--width);
    }

    &__title {
      font-size: var(--titleFZ);
    }

    &__button {
      font-size: var(--buttonFZ);
    }

    &__title, &__paragraph {
      text-align: var(--textAlign);
    }

    &__paragraph {
      font-size: var(--paragraphFZ);
    }
  }
}
