@import "styles/mixins.scss";

.header {
  --width: 100%;
  --padding: 40px 0;

  @include flex($justify-content: space-between);

  position: fixed;

  width: var(--width);
  padding: var(--padding);

  &__logo {
    position: absolute;
    right: 180px;
    top: 40px;
  }
}
