@import "styles/mixins.scss";

.header {
  --width: 100vw;
  --padding: 50px 0;
  // --logoRight: 180px;
  // --logoTop: 40px;

  position: static;
  // position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // width: var(--width);
  width: -webkit-fill-available;
  padding: var(--padding);

  &__logo {
    position: absolute;
    right: 80px;
    top: 50px;
    justify-self: center;

    // position: absolute;
    // right: var(--logoRight);
    // top: var(--logoTop);

    // &_home {
    //   right: 80px;
    // }
  }

  &_home {
    position: fixed;
  }
}

.header-container {
  padding-bottom: 160px;
}


@media screen and (max-width: 980px) {
  .header {
    &__logo {
      &_home {
        position: absolute;
      }
    }
    &_home {
      position: absolute;
    }
  }
}

@media screen and (max-width: 760px) {
  .header {
    &__logo {
      right: 40px;
    }
  }
}