@import "styles/mixins.scss";

.header {
  --width: 100%;
  --padding: 40px 0;

  --logoRight: 180px;
  --logoTop: 40px;

  position: fixed;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--width);
  padding: var(--padding);

  &__logo {
    position: absolute;
    right: var(--logoRight);
    top: var(--logoTop);
  }
}
