.loader {
  --borderRadius: 14px;

  --strokeWidth: .4px;
  --colorStroke: var(--c-black);

  --objFit: contain;

  fill: transparent;
  position: absolute;

  width: var(--size);
  height: var(--size);

  object-fit: var(--objFit);
  border-radius: var(--borderRadius);
}

.loader path {
  stroke: var(--c-black);
  stroke-width: var(--strokeWidth);

  animation: dashArray 4s ease-out infinite,
    dashOffset 4s linear infinite;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}
