@import "styles/media.scss";
@import "styles/mixins.scss";

.nav {
  &__item {
    display: flex;
  }

  &__btn-list {
    display: none;
  }

  &__list, &__menu {
    align-items: center;
    @include reset-list;
    @include flex-gap(60px);
  }
}


// Медиа
@media screen and ($mobile) {
  .nav {
    --listGap: 20px;
    --menuActiveTop: 30px;
    --linkFZ: var(--f-size-12);

    &__item {
      position: relative;
      flex-direction: column;
    }

    &__btn-list {
      display: block;
    }

    &__list {
      gap: var(--listGap);
    }

    &__link {
      font-size: var(--linkFZ);
    }

    &__menu {
      display: none;
      background: var(--c-gray);
    }

    &__menu_active {
      z-index: 1;
      display: block;
      position: absolute;
      top: var(--menuActiveTop);
    }

    &__menu_art {
      background: var(--c-white);
    }
  }
}
