.card {
  --width: 100%;
  --height: 0;

  --padding: .8vw;
  --paddingTop: 100%;

  --infoBorderR: 10px;
  --infoPadding: 10px;
  --infoColor: var(--c-black);
  --infoBgColor: var(--c-white);


  cursor: pointer;
  padding: var(--padding);

  &__helper {
    position: relative;

    width: var(--width);
    height: var(--height);
    padding-top: var(--paddingTop);
  }

  &__info {
    position: absolute;

    width: max-content;
    padding: var(--infoPadding);

    text-decoration: none;
    color: var(--infoColor);
    background: var(--infoBgColor);
    border-radius: var(--infoBorderR);
  }

  &__image {
    padding: var(--padding);

    object-fit: contain;
    pointer-events: none;
  }
}