@import "styles/mixins.scss";

.checkbox {
  --width: 22px;
  --height: 22px;
  --gap: 10px;

  --widthChecked: 8px;
  --heightChecked: 8px;

  --color: var(--c-black);
  --colorCount: var(--c-gray);
  --borderWidth: 3px;
  --borderRadius: 4px;
  --borderRadiusChecked: 2px;

  --fontSize: var(--f-size-14);
  --fontWeight: var(--f-weight-medium);

  --countOpacity: .5;


  cursor: pointer;

  display: flex;
  align-items: center;
  
  gap: var(--gap);

  &__input {
    display: none;
  }

  &__input:checked + div > .checkbox__icon::after {
    content: "";

    display: block;
    width: var(--widthChecked);
    height: var(--heightChecked);

    background: var(--color);
    border-radius: var(--borderRadiusChecked);
  }

  &__icon {
    @include flex;

    width: var(--width);
    height: var(--height);

    border-radius: var(--borderRadius);
    border: var(--borderWidth) solid var(--color);;
  }

  &__label {
    font-weight: var(--fontWeight);
  }

  &__count {
    font-size: var(--fontSize);
    opacity: var(--countOpacity);
  }
}
